<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bs/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'styles/style.css' %}">
    <link rel="stylesheet"  href="{% static 'styles/singIn2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">
    
</head>
<body>

    {% include 'navbar.html' %}
<!-- ..............................-->

<!-- ..............................-->
      <!-- *******Coin******** -->
    <div class="container mt-5 pt-5">
        <span class="fs-4 fw-semibold">1
            <img src="{% static 'image/coin (3).png' %}"  width="25" height="25" class="coin my-2">
        </span>
        <i class="fa-solid fa-arrow-right-arrow-left mx-2 fs-5" style="color: #000000;"></i>
        <span class="fs-4 fw-semibold">1000 MMK</span>
    </div>

         <!-- *******/Coin******** -->
    <div class="container">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Buying Coin</button>
            <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Transfer Money</button>
          </div>
        </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <!-- ?Form -->
              <div class="container mt-3 p-3">
                <form method="POST" action="{% url 'buying_coin' %}" enctype="multipart/form-data" class="">
                    {% csrf_token %}
                    <div class="row">
                    <!-- *******FormInput******* -->
                    <div class="col-8">

                      <div class="row my-4">      
                      <!-- *Coin Amount -->
                        <div class="col-6 ">
                            <label for="validationServer01" class="form-label fw-semibold">Coin Amount</label>
                            <div class="singup_inputfield">
                                <input name="coin_amount" type="text" class="bg-body" id="coin_amt" required>
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="position-absolute top-50 start-0 translate-middle-y">
                                <i class="fa-solid fa-arrow-right-arrow-left mx-2 fs-5" style="color: #000000;"></i>
                                <span class="fs-4 fw-semibold" id="mmk" value="0">0</span>
                                <span class="fs-4 fw-semibold">MMK</span>    
                            </div>
                        </div>
                      </div>
                      <!-- ** -->
                      <div class="row my-4">
                        <!-- *NRC -->
                        <div class="col-6">
                            <label for="validationServer08" class="form-label fw-semibold" >NRC.No</label>
                            <div class="singup_inputfield row row-cols-4">
                                <div class="col">
                                    <select name="front" class="code_select text-center p-0 me-1 w-100">
                                        <option value="၁">၁</option>
                                        <option value="၂">၂</option>
                                        <option value="၃">၃</option>
                                        <option value="၄">၄</option>
                                        <option value="၅">၅</option>
                                        <option value="၆">၆</option>
                                        <option value="၇">၇</option>
                                        <option value="၈">၈</option>
                                        <option value="၉">၉</option>
                                        <option value="၁၀">၁၀</option>
                                        <option value="၁၁">၁၁</option>
                                        <option value="၁၂">၁၂</option>
                                        <option value="၁၃">၁၃</option>
                                        <option value="၁၄">၁၄</option>
                                    </select>
                
                                </div>
                                <!-- -------------- -->
                                <div class="col p-0">
                                    <input name="mid1" type="text" class="px-2 w-100">
                                </div>
                                <!-- --------------- -->
                                <div class="col">
                                    <select name="mid2" class="select p-0 me-1">
                                    <option value="(နိုင်)">(နိုင်)</option>
                                    <option value="(ဧည့်)">(ဧည့်)</option>
                                    <option value="(ပြု)">(ပြု)</option>
                                    </select> 
                                </div>
                                <!-- ----------------- -->
                                <div class="col p-0">
                                    <input name="back" type="text" class="px-2 w-100 " onkeyup="numberonly(this)" maxlength="6" >
                                </div>
                            </div>             
                          </div>
                          
                          <!-- PH.NO -->
                          <div class="col-6 ">
                              <label for="validationServer08" class="form-label fw-semibold">Ph.No(Payment)</label>
                              <div class="singup_inputfield input-group flex-nowrap">
                              <span class=" input-group-text bg-body-secondary" id="addon-wrapping">+959</span>
                              <input name="buyer_ph" type="text" id="phNo"  maxlength="9" required>
                              <i class="icon fa-regular fa-circle-check"></i>
                              </div>       
                          </div>                 
                      </div>

                      <div class="row my-4">                <!-- Invoice No -->
                        <div class="col-6 ">
                          <label for="validationServer01" class="form-label fw-semibold">Invoice No</label>
                          <div class="singup_inputfield">
                          <input name="invoice_no" type="text" class="bg-body" id="invoice_no" maxlength="20" required>
                          <i class="icon fa-regular fa-circle-check"></i>
                          </div>
                        </div>
                      <!-- Payment -->
                        <div class="col-6">
                            <label class="form-label fw-semibold">Payment Method</label>
                            <div>
                              <select name="payment_method" class="ps-2 bg-body" style="width:100%;;height:50px;" required>
                                  <option value="KBZPay">KBZPay</option>
                                  <option value="WavePay">WavePay</option>
                                  <option value="CBPay">CBPay</option>
                              </select>            
                            </div>
                        </div>
                      </div> 

                    </div>
              <!-- *******/FormInput******* -->                
                  <div class="col-4">
                    <h4>E-Receipt Photo</h4>
                    <div class="col rounded p-0" style="height: 100%;">
                        <div class="container-fluid position-relative" style="height: 100%;">
                          <input name="invoice_img" class="d-none" type="file" multiple accept="image/jpg, image/png, image/jpeg" id="invoice_photo" required>
                          <label  for="invoice_photo">
                            <img src="{% static 'image/sellphoto.jpg' %}" id="invoice_image" style="height:100%;" class="img-fluid position-absolute top-50 start-50 translate-middle" alt="...">
                          </label>                     
                        </div>
                      </div> 
                  </div>      
                </div>
                <button type="submit" class="btn bg-dark text-white">Buying Coin</button>
               <!-- *******/FormInput******* -->
              </form>
            </div>
        </div>



<!--              Transfer Money-->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <form method="POST" action="{% url 'transfer_money' %}" class="container mt-3 p-3">
              {% csrf_token %}
            <!-- *******FormInput******* -->
            <div class="col-8">
              <div class="row my-4">
              <!-- *Coin Amount -->
                <div class="col-6 ">
                  <label for="validationServer01" class="form-label fw-semibold">Coin Amount</label>
                  <div class="singup_inputfield">
                      <input name="Tcoin_amount" type="text" class="bg-body" id="sellingcoin_amt" required>
                  </div>
                </div>
                <div class="col-6 position-relative">
                  <div class="position-absolute top-50 start-0 translate-middle-y">
                      <i class="fa-solid fa-arrow-right-arrow-left mx-2 fs-5" style="color: #000000;"></i>
                      <span class="fs-4 fw-semibold" id="selling_mmk" value="0">0</span>
                      <span class="fs-4 fw-semibold">MMK</span>
                  </div>
                </div>
              </div>

            <!-- ** -->
              <div class="row my-4">
              <!-- *NRC -->
                <div class="col-6">
                  <label for="validationServer08" class="form-label fw-semibold" >NRC.No</label>
                  <div class="singup_inputfield row row-cols-4">
                    <div class="col">
                      <select name="Tfront" class="code_select text-center p-0 me-1 w-100">
                          <option value="၁">၁</option>
                          <option value="၂">၂</option>
                          <option value="၃">၃</option>
                          <option value="၄">၄</option>
                          <option value="၅">၅</option>
                          <option value="၆">၆</option>
                          <option value="၇">၇</option>
                          <option value="၈">၈</option>
                          <option value="၉">၉</option>
                          <option value="၁၀">၁၀</option>
                          <option value="၁၁">၁၁</option>
                          <option value="၁၂">၁၂</option>
                          <option value="၁၃">၁၃</option>
                          <option value="၁၄">၁၄</option>
                      </select>
                    </div>
                      <!-- -------------- -->
                    <div class="col p-0">
                        <input name="Tmid1" type="text" class="px-2 w-100">
                    </div>
                      <!-- --------------- -->
                    <div class="col">
                        <select name="Tmid2" class="select p-0 me-1">
                        <option value="(နိုင်)">(နိုင်)</option>
                        <option value="(ဧည့်)">(ဧည့်)</option>
                        <option value="(ပြု)">(ပြု)</option>
                        </select>
                    </div>
                      <!-- ----------------- -->
                    <div class="col p-0">
                        <input name="Tback" type="text" class="px-2 w-100 " id="selling_nrcNo" onkeyup="numberonly(this)" maxlength="6">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                  <!-- PH.NO -->
                <div class="col-6 ">
                  <label for="validationServer08" class="form-label fw-semibold">Ph.No(Payment)</label>
                  <div class="singup_inputfield input-group flex-nowrap">
                  <span class=" input-group-text bg-body-secondary" id="addon-wrapping">+959</span>
                  <input name="transfer_ph" type="text" id="selling_phNo"  maxlength="9" required>
                  <i class="icon fa-regular fa-circle-check"></i>
                  </div>
                </div>
              <!-- Payment -->
                <div class="col-6">
                    <label class="form-label fw-semibold">Payment Method</label>
                    <div>
                    <select name="Tpayment_method" class="ps-2 bg-body" style="width:100%;;height:50px;" required>
                    <option value="KBZPay">KBZPay</option>
                    <option value="WavePay">WavePay</option>
                    <option value="CBPay">CBPay</option>
                    </select>
                    </div>
                </div>
              </div>
            </div>
            <button class="btn bg-dark text-white">Selling Coin</button>
          </form>
        </div>
    </div>

<!-- ..............................-->
    

<script>

        let phNo = document.getElementById("phNo");
        let nrcNo = document.getElementById("nrcNo");
        let invoice_no = document.getElementById("invoice_no");
        const icon = document.querySelectorAll(".icon");
        console.log(icon);
        function numberonly(nrcNo){
            var regex = /[^0-9]/;
            nrcNo.value = nrcNo.value.replace(regex,"");
        }
      
        phNo.addEventListener("keyup", () =>{

          var regex = /[^0-9]/;

          phNo.value = phNo.value.replace(regex,"");

          if(phNo.value === ""){         
            return icon[0].style.color = "#b4b4b4"; //normal
          }
  
          if(phNo.value.length < 10 && phNo.value.length > 5 ){       
             return icon[0].style.color = "#4bb543";  //green
          }
  
          icon[0].style.color = "#de0611"; //red
        
        });
        invoice_no.addEventListener("keyup", () =>{

        var regex = /[^0-9]/;

        invoice_no.value = invoice_no.value.replace(regex,"");

        if(invoice_no.value === ""){         
        return icon[1].style.color = "#b4b4b4"; //normal
        }

        if(invoice_no.value.length === 20 ){       
        return icon[1].style.color = "#4bb543";  //green
        }

        icon[1].style.color = "#de0611"; //red

        });

        let invoice_image = document.getElementById("invoice_image"); 
        let invoice_photo = document.getElementById("invoice_photo");
        
        invoice_photo.addEventListener("change",(e) => {
            invoice_image.src = URL.createObjectURL(invoice_photo.files[0]);
        });

        let coin_amt = document.getElementById("coin_amt");
        let mmk = document.getElementById("mmk");
       
        coin_amt.addEventListener("keyup",() => {
            
            var regex = /[^0-9]/;
            coin_amt.value = coin_amt.value.replace(regex,"");
            console.log(coin_amt.value);
            mmk.innerHTML = coin_amt.value*1000;
        })
        // #### Selling coin
        let sellingcoin_amt = document.getElementById("sellingcoin_amt");
        let selling_mmk = document.getElementById("selling_mmk");
       
        sellingcoin_amt.addEventListener("keyup",() => {
            
            var regex = /[^0-9]/;
            sellingcoin_amt.value = sellingcoin_amt.value.replace(regex,"");
            console.log(sellingcoin_amt.value);
            selling_mmk.innerHTML = sellingcoin_amt.value*1000;
        })
        let selling_phNo = document.getElementById("selling_phNo");
        let selling_nrcNo = document.getElementById("selling_nrcNo");

        function numberonly(selling_nrcNo){
            var regex = /[^0-9]/;
            selling_nrcNo.value = selling_nrcNo.value.replace(regex,"");
        }
      
        selling_phNo.addEventListener("keyup", () =>{

          var regex = /[^0-9]/;

          selling_phNo.value = selling_phNo.value.replace(regex,"");

          if(selling_phNo.value === ""){         
            return icon[2].style.color = "#b4b4b4"; //normal
          }
  
          if(selling_phNo.value.length < 10 && selling_phNo.value.length > 5 ){       
             return icon[2].style.color = "#4bb543";  //green
          }
  
          icon[2].style.color = "#de0611"; //red
        
        });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>