{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'profile' request.user.id %}"><button>Profile</button></a>
        <hr>
        <form method="POST" >
            {% csrf_token %}
            <input type="submit" value="Logout" style="background-color: crimson">
        </form>
    {% else %}
        <a href="{% url 'register' %}"><button>Signup</button></a>
        <a href="{% url 'login' %}"><button>Login</button></a>
    {% endif %}

{% endblock %}