{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'profile' request.user.id %}"><button style="margin-top: 10px" >Profile</button></a>
        <hr>
        <form method="POST" >
            {% csrf_token %}
            <input type="submit" value="Logout" style="background-color: crimson">
        </form>
    {% else %}
        <a href="{% url 'register' %}"><button>Signup</button></a>
        <a href="{% url 'login' %}"><button>Login</button></a>
    {% endif %}

    <p>Ending Soon Items</p>
    <style>
        div.scrollmenu {
          overflow: auto;
          white-space: nowrap;
        }

        div.scrollmenu a {
          display: inline-block;
            color: black;
            border-color: green;
            border: solid 4px;
          text-align: center;
          padding: 14px;
          text-decoration: none;
        }

        div.scrollmenu a:hover {
          background-color: #777;
        }
    </style>

    <div class="scrollmenu">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>
    <hr>
    <p>Latest Auction Items</p>
    <div class="scrollmenu">
        {% for item, image in related_dict.items %}
            <a href="{% url 'item_detail' item.id %}">
                <img src="{{ image.url }}" style="width: 200px; height: 200px">
                <p>{{ item.title }}</p>
                <p>${{ item.reverse_price }}</p>
            </a>
        {% endfor %}
    </div>
    <hr>
    <p>Popular Auction Items</p>
    <div class="scrollmenu">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>
    <hr>

{% endblock %}