{% extends 'base.html' %}

{% block content %}

    {% if request.user == item.seller %}
    	<a href="{% url 'item_edit' item.id %}"><button>Edit</button></a>
    	<a href="{% url 'item_delete' item.id %}"><button style="background-color: red">Delete</button></a>
        <hr>
    {% endif %}
    <h5>Id: {{ item.id }}</h5>
    <h1>Seller: {{ item.seller.name }}</h1>
    <p>Title: {{ item.title }}</p>

    {% for image in images %}
        <img src="{{ image.image_url.url }}" style="width: 100px; height: 100px">
    {% endfor %}

    <p>Name: {{ item.item_name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Condition: {{ item.item_condition }}</p>
    <p>Reverse Price: {{ item.reverse_price }}</p>
    <p>Start Date: {{ item.start_date }}</p>
    <p>Due Date: {{ item.due_date }}</p>

    <h3>Participants</h3>
    <ol>
        {% for participant in participants %}
            <li>{{ participant.name }}</li>
        {% endfor %}
    </ol>

    <hr>

    Remain Time: <h3><p id="countdown"></p></h3>
    <script type="text/javascript">
        $(document).ready(function() {
            // var endDate = "2024-02-11T12:56"
            var endDate = "{{ item.due_date }}";

            if (endDate != "expired") {
                var countdownDate = new Date(endDate).getTime();

                var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countdownDate - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countdown").innerHTML = "EXPIRED";
                    }
                }, 1000);
            }
            else {
                document.getElementById("countdown").innerHTML = "EXPIRED";
            }

        });
    </script>

    <hr>

    <h1>Current Coins:{{ item.highest_price }}</h1>

    <hr>
    {% for bid in bids %}
        <a href="{% url 'profile' bid.bidder.id %}">
            <img src="{{ bid.bidder.avatar.url }}" style="width: 50px; height: 50px">
            <span>@{{ bid.bidder.username }}</span>
        </a><br>
        <span>{{ bid.created|timesince }} ago</span><br>
        <h2>{{ bid.amount }}</h2>
        <hr>
    {% endfor %}
    
    <hr>
    {% if request.user != item.seller %}
    	<form action="" method="POST">
            {% csrf_token %}
            <input type="number" name="amount" placeholder="Write your amount here..." />
        </form>
    {% endif %}


    <script>
        $(document).ready(function() {
            // Set the countdown date (replace with your desired date)
            // var endDate = "2024-02-09T23:06"
            var endDate = "{{ eDate }}"; // get_eDate_ from django
            var countdownDate = new Date(endDate).getTime();

            document.getElementById("Test").innerHTML = "2024-03-09T23:06";

            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countdownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";


                if (distance < 0 || endDate == "expired") {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = {{ item.due_date }};
                }
            }, 1000);
        });
    </script>


{% endblock %}