{% extends 'base.html' %}

{% block content %}

    {% if request.user == item.seller %}
    	<a href="{% url 'item_edit' item.id %}"><button>Edit</button></a>
        <hr>
    {% endif %}
    <h5>Id: {{ item.id }}</h5>
    <h1>Seller: {{ item.seller }}</h1>
    <p>Title: {{ item.title }}</p>

    {% for image in images %}
        <img src="{{ image.image_url.url }}" style="width: 100px; height: 100px">
    {% endfor %}

    <p>Name: {{ item.item_name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Condition: {{ item.item_condition }}</p>
    <p>Reverse Price: {{ item.reverse_price }}</p>
    <p>Start Date: {{ item.start_date }}</p>

{% endblock %}