{% extends 'base.html' %}

{% block content %}
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <div class="home-container">

        <div>
            Auction History
        </div>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'update' %}"><button>Update</button></a>
                <a href="{% url 'logout' %}"><button>Logout</button></a>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete Account" style="background-color: red">
                </form>
                <hr>

                <img width="100px" height="100px" src="{{ user.avatar.url }}">
                <p>Id: {{ user.id }}</p>
                <p>Name: {{ user.name }}</p>
                <p>UserName: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Password: {{ user.password }}</p>
                <p>Phone: {{ user.phone }}</p>
                <p>Address: {{ user.address }}</p>
                <p>Registered Date: {{ user.registered_date }}</p>
                <hr>

                <div>
                {% for item, image in related_dict.items %}
                    <a href="{% url 'item_detail' item.id %}">
                        <img src="{{ image.url }}" style="width: 100px; height: 100px">
                    </a>
                    <p>{{ item.title }}</p>
{#                    <p>{{ item }}</p>#}
                {% endfor %}
                </div>

            {% endif %}

        </div>

        <div>
            <h2>Transaction History</h2>
            <hr>
            {% for transaction in transactions_history %}
                <p><b>Coin Amount:</b> {{ transaction.coin_amount }}</p>
                <p><b>Bought Date:</b> {{ transaction.buying_time }}</p>
                <p><b>Payment Method:</b> {{ transaction.payment_method }}</p>
                <p><b>Invoice Image:</b> <img src="{{ transaction.invoice_img.url }}" style="width: 100px; height: 100px"></p>
                <hr>
            {% endfor %}


        </div>
    </div>

{% endblock %}