{% extends 'base.html' %}

{% block content %}

    {% if page == 'login' %}
    <div>
        <form method="POST" action="" >
            {% csrf_token %}
            <label>Email:</label>
            <input type="text" name="email" placeholder="Enter email" />

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password" />

            <input type="submit" value="Login"/>
        </form>

    </div>
    {% else %}
    <div>
        <form method="POST" action="" enctype="multipart/form-data" >
            {% csrf_token %}
{#            {{ form.as_p }}#}

            {% for field in form %}
                {{ field.label }}
                {{ field }}
                <br>
                <br>
            {% endfor %}

            <input type="submit" value="Register"/>
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
{% endblock content %}