<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bs/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">
    
</head>
<body>
    {% include "navbar.html" %}
  <!-- *Search Page -->
    <div class = "container header">
      <h2 class="search_header my-5  text-uppercase fw-semibold">{{ sItem }}</h2>
    </div>

    {% for item, image in show_dict.items %}
        <div class="container search_box">
              <div class="card mb-3">
                  <div class="row g-0 ">
                    <div class="col-md-6 position-relative" style="background-color: #f5f2f2;">
                        <form method="POST" action="{% url 'like_item' item.id 'home' %}" class="rateForm shadow rounded-pill position-absolute">
                            {% csrf_token %}
                            {% if user in item.liked_users.all %}
                                <button class="rate btn btn-light border-0 rounded-pill" >
                                    <i class="fa-solid fa-heart" style="color: #a80000;"></i>
                                </button>
                            {% else %}
                                <button class="rate btn btn-light border-0 rounded-pill">
                                    <i class="fa-regular fa-heart" style="color: #333;"></i>
                                </button>
                            {% endif %}
                            <span class="count heart_count">{{ item.like_count }}</span>
                        </form>
                        <a href="detail.html">
                            <div class="img_box">
                                <img src="{{ image.url }}" class="search_img img-fluid rounded-start position-absolute top-50 start-50 translate-middle" alt="...">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 position-relative">
                        <a class="link-dark link-underline-opacity-0" href="detail.html">
                            <div class="card-body">
                                <h3 class=" card-title ms-2 fw-semibold">{{ item.title }}</h3>
                                <div class="search_detail overflow-hidden mx-2 position-relative">
                                    {{ item.description }}
                                </div>
                                <div class="position-absolute bottom-0 start-0 ms-4 mb-3" >

                                    <div class="start_bid">
                                        <p class="startBid m-0">Current Bid</p>
                                        <img src="{% static 'image/coin (3).png' %}"  width="30" height="30" class="coin mb-3">
                                        {% if item.sell_price <= 0 %}
                                            <span class="currentBid fw-semibold">{{ item.reverse_price }} </span>
                                        {% else %}
                                            <span class="currentBid fw-semibold">{{ item.sell_price }} </span>
                                        {% endif %}
                                    </div>
                                    <div class="dueDate d-flex">
                                        <i class="fa-regular fa-clock me-1" style="color: #595b5e;"></i>
                                        <span>Closes:</span>
                                        <div class="d-flex mx-1">
                                          <span class="date" id="countdown{{ item.id }}"></span>
                                          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                          <script>
                                              $(document).ready(function() {
                                                  // var endDate = "2024-02-11T12:56"
                                                  var endDate = "{{ item.due_date }}";

                                                  if (endDate != "expired") {
                                                      var countdownDate = new Date(endDate).getTime();

                                                      var x = setInterval(function() {
                                                          var now = new Date().getTime();
                                                          var distance = countdownDate - now;

                                                          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                                          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                                          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                                          document.getElementById("countdown{{ item.id }}").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                                                          if (distance < 0) {
                                                              clearInterval(x);
                                                              document.getElementById("countdown{{ item.id }}").innerHTML = "EXPIRED";
                                                          }
                                                      }, 1000);
                                                  }
                                                  else {
                                                      document.getElementById("countdown{{ item.id }}").innerHTML = "EXPIRED";
                                                  }

                                              });
                                          </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</body>
<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>

</html>