{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="" enctype="multipart/form-data" >
        {% csrf_token %}
        <label>Category</label>
        <select name="category">
                <option>Clothing</option>
                <option>Jewellery</option>
                <option>Vehicles</option>
                <option>Wine & Whiskey</option>
                <option>Luxury & Accessories</option>
                <option>Books</option>
                <option>Shoes</option>
                <option>Electronics Devices</option>
                <option>Music, Movies & Cameras</option>
                <option>Art</option>
                <option>Funitrues</option>
                <option>Others</option>
        </select>
        <br>
        <br>
        <label>Title</label>
        {{ form.title }}
        <br>
        <br>
        <label>Description</label>
        {{ form.description }}
        <br>
        <br>
        <label>Images(6)</label>
        <input required name="upload_images" type="file" multiple>
        {{ image_form.as_p }}
        <br>
        <br>
        <label>Number of Items</label>
        {{ form.number_of_items }}
        <br>
        <br>
        <label>Country of Origin</label>
        {{ form.country_of_origin }}
        <br>
            <br>
        <label>Estimated Period/Era</label>
        {{ form.estimated_era }}
        <br>
        <br>
        <label>Item's Condition</label>
        {{ form.item_condition }}
        <br>
        <br>
        <label>Reverse Coin</label>
        {{ form.reverse_price }}
        <br>
        <br>
        <label>Once_Up</label>
        {{ form.once_up }}
        <br>
        <br>
        End Date: <input type="datetime-local" name="dueDatePicker">
        <br>
        <br>
        <input type="submit" value="Sell" style="width: 300px; height: 50px; background-color: tan"/>
    </form>

{% endblock %}