


{% load static %}
{% block content %}
  <nav class="navbar fixed-top"  style="background-color: #ffffff;">

    <div class="navBar container ps-0">
      <div class="right m-1 d-flex">
        <a class="link-dark link-underline-opacity-0 d-flex" href="{% url 'home' %}">
          <img src="{% static 'image/eagle1.jpg' %}" alt="Logo" class="logo d-inline-block mt-1">
          <div>
            <span class=" text logo_name me-3 ms-2">Eagle Auction</span>
          </div>
        </a>
        <a class="link-dark link-underline-opacity-0 d-flex" href="{% url 'show_categories' %}">
          <div class="catago navbar-text mx-3 mt-1 pt-2">
            <span class="text-black">CATEGORIES</span>
          </div>
          <img src="{% static 'image/cata.png' %}" width="25" height="25" class="cata my-2">
        </a>
      </div>

      <div class="search">
        <form action="{% url 'search_item' 'navbar' %}" class=" d-flex p-auto me-3" role="search">
          <input name="sItem" class="search-input form-control ms-5 me-3" placeholder="Search"  aria-label="Search">
          <button type="button" class="btn">
            <a href="{% url 'search_item' 'navbar' %}" >
              <img class="search_png" src="{% static 'image/search.svg' %}" style="width:25px;" >
            </a>
          </button>
        </form>
      </div>

      <div class="left d-flex">
        <a href="{% url 'buying_coin' %}" class="link-offset-2 link-underline link-underline-opacity-0 text-black">
          <img src="{% static 'image/coin (3).png' %}"  width="25" height="25" class="coin mb-1">
          <span class="ms-1 fw-bold coin_num me-4">{{ request.user.coin_amount }}</span>
        </a>
      </div>
       <!--  -->
       <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      </div>
       <!--  -->
        {% if request.user.is_authenticated %}
          {% if request.user.avatar.url != None %}
            <a class="nav-link me-3" href="{% url 'profile' request.user.id %}" >
                <img class="my-2 rounded-circle" src="{{ request.user.avatar.url }}" width="40" height="40" class="user p-0" alt="profile">
            </a>
          {% else %}
            <a class="nav-link me-3" href="{% url 'profile' request.user.id %}" >
              <i class="user fa-regular fa-user py-1 " style="color: #000000;font-size: 25px;"></i>
            </a>
          {% endif %}
        {% else %}
        <a class="nav-link me-3" href="{% url 'profile' request.user.id %}" >
          <i class="user fa-regular fa-user py-1 " style="color: #000000;font-size: 25px;"></i>
        </a>

        {% endif %}
      </div>
    </div>
  </nav>

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}